@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 jumbotron">
            <h2>@Umbraco.Field("projectsTitle")</h2>
            <p>@Umbraco.Field("projectsBodyText")</p>
        </div>
    </div> <!-- #main -->
	@Umbraco.RenderMacro("listProjects")
</div> <!-- #main-container -->