<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT About ANY>
<!ATTLIST About id ID #REQUIRED>
<!ELEMENT ArticleItem ANY>
<!ATTLIST ArticleItem id ID #REQUIRED>
<!ELEMENT ArticleMain ANY>
<!ATTLIST ArticleMain id ID #REQUIRED>
<!ELEMENT Comment ANY>
<!ATTLIST Comment id ID #REQUIRED>
<!ELEMENT ContactPage ANY>
<!ATTLIST ContactPage id ID #REQUIRED>
<!ELEMENT GridInfoPage ANY>
<!ATTLIST GridInfoPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Members ANY>
<!ATTLIST Members id ID #REQUIRED>
<!ELEMENT ProjectItem ANY>
<!ATTLIST ProjectItem id ID #REQUIRED>
<!ELEMENT ProjectsMain ANY>
<!ATTLIST ProjectsMain id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1065" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-09-08T08:50:18" updateDate="2015-10-17T13:33:04" nodeName="Web Coop Home" urlName="web-coop-home" path="-1,1065" isDoc="" nodeType="1052" creatorName="Valerio" writerName="Valerio" writerID="0" template="1051" nodeTypeAlias="HomePage">
    <metaDescription><![CDATA[Aarhus Web Developer]]></metaDescription>
    <metaKeywords><![CDATA[Aarhus Web Developer]]></metaKeywords>
    <footerText><![CDATA[Copyright 2015 - Aarhus web developers]]></footerText>
    <siteTitle><![CDATA[Aarhus Web Developer]]></siteTitle>
    <mainContent><![CDATA[<p>Welcome to Aarhus Web Developer Coop</p>]]></mainContent>
    <ArticleMain id="1069" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2015-09-11T09:40:52" updateDate="2015-10-17T13:33:51" nodeName="Articles" urlName="articles" path="-1,1065,1069" isDoc="" nodeType="1056" creatorName="Valerio" writerName="Valerio" writerID="0" template="1055" nodeTypeAlias="ArticleMain">
      <articlesTitle><![CDATA[Our articles list]]></articlesTitle>
      <articlesBodyText><![CDATA[<p><span>Below you can find a list of articles written for you in order to get the latest news about web design, technology and more...</span></p>]]></articlesBodyText>
      <ArticleItem id="1070" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2015-09-11T09:42:27" updateDate="2015-10-17T12:57:16" nodeName="Responsive Design" urlName="responsive-design" path="-1,1065,1069,1070" isDoc="" nodeType="1058" creatorName="Valerio" writerName="Valerio" writerID="0" template="1057" nodeTypeAlias="ArticleItem">
        <articleTitle><![CDATA[Responsive Design]]></articleTitle>
        <articleContents><![CDATA[<p>The concept that launched a thousand site redesigns. For years, web designers have coveted print for its precision layouts, lamenting the varying user contexts on the web that compromise their designs. Responsive design advocates that we shift our design thinking to make a virtue of these constraints. Using fluid grids, flexible images, and media queries to embrace the ebb and flow of the web.</p>
<p> </p>
<p> </p>]]></articleContents>
      </ArticleItem>
      <ArticleItem id="1071" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2015-09-11T09:43:01" updateDate="2015-10-17T13:06:23" nodeName="How to choose the right fonts for small screens" urlName="how-to-choose-the-right-fonts-for-small-screens" path="-1,1065,1069,1071" isDoc="" nodeType="1058" creatorName="Valerio" writerName="Valerio" writerID="0" template="1057" nodeTypeAlias="ArticleItem">
        <articleTitle><![CDATA[How to choose the right fonts for small screens]]></articleTitle>
        <articleContents><![CDATA[<p>Attractive and effective typography is a key component in a successful website design. This is especially true in the context of mobile, where the margin for error is as small as the screens being used to view those websites.</p>
<p>If your font choices work well for desktop, is it safe to assume that they will be fine for mobile? Many typographic styles and practices that are perfectly acceptable for larger screens break down and cause problems on smaller, mobile screens.</p>
<p>This means that to deliver the best possible experience to mobile visitors, we must consider a website's mobile typography and ensure that no matter which kind of device people use to visit our site, they are presented with an attractive design that is easy to use and enjoyable to read.</p>
<p>In short, typography must be considered as an important element in the context of making a site responsive. To accomplish this, we should better understand how people read on mobile devices as we adhere to the best practices in mobile typography.</p>]]></articleContents>
      </ArticleItem>
    </ArticleMain>
    <ProjectsMain id="1072" parentID="1065" level="2" creatorID="0" sortOrder="1" createDate="2015-09-11T10:47:09" updateDate="2015-10-17T13:18:08" nodeName="Projects" urlName="projects" path="-1,1065,1072" isDoc="" nodeType="1060" creatorName="Valerio" writerName="Valerio" writerID="0" template="1059" nodeTypeAlias="ProjectsMain">
      <projectsTitle><![CDATA[Our projects list]]></projectsTitle>
      <projectsBodyText><![CDATA[<p>Below you can find the list of all our projects.</p>]]></projectsBodyText>
      <ProjectItem id="1073" parentID="1072" level="3" creatorID="0" sortOrder="0" createDate="2015-09-11T10:48:10" updateDate="2015-09-13T17:01:07" nodeName="The first project" urlName="the-first-project" path="-1,1065,1072,1073" isDoc="" nodeType="1062" creatorName="Valerio" writerName="Valerio" writerID="0" template="1061" nodeTypeAlias="ProjectItem">
        <projectTitle><![CDATA[The first project]]></projectTitle>
        <projectContents><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></projectContents>
        <status><![CDATA[Idea]]></status>
      </ProjectItem>
      <ProjectItem id="1074" parentID="1072" level="3" creatorID="0" sortOrder="1" createDate="2015-09-11T10:48:33" updateDate="2015-09-11T10:52:52" nodeName="The second project" urlName="the-second-project" path="-1,1065,1072,1074" isDoc="" nodeType="1062" creatorName="Valerio" writerName="Valerio" writerID="0" template="1061" nodeTypeAlias="ProjectItem">
        <projectTitle><![CDATA[The second project]]></projectTitle>
        <projectContents><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></projectContents>
        <status><![CDATA[Initiated]]></status>
      </ProjectItem>
      <ProjectItem id="1080" parentID="1072" level="3" creatorID="0" sortOrder="2" createDate="2015-09-13T17:00:49" updateDate="2015-09-13T17:02:16" nodeName="The first completed project" urlName="the-first-completed-project" path="-1,1065,1072,1080" isDoc="" nodeType="1062" creatorName="Valerio" writerName="Valerio" writerID="0" template="1061" nodeTypeAlias="ProjectItem">
        <projectTitle><![CDATA[I'm completed!]]></projectTitle>
        <projectContents><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></projectContents>
        <status><![CDATA[Completed]]></status>
      </ProjectItem>
      <ProjectItem id="1082" parentID="1072" level="3" creatorID="0" sortOrder="3" createDate="2015-09-19T16:53:19" updateDate="2015-09-19T16:53:19" nodeName="The second completed project" urlName="the-second-completed-project" path="-1,1065,1072,1082" isDoc="" nodeType="1062" creatorName="Valerio" writerName="Valerio" writerID="0" template="1061" nodeTypeAlias="ProjectItem">
        <projectTitle><![CDATA[The second completed project]]></projectTitle>
        <projectContents><![CDATA[<p>I'm completed</p>]]></projectContents>
        <status><![CDATA[Completed]]></status>
      </ProjectItem>
      <ProjectItem id="1083" parentID="1072" level="3" creatorID="0" sortOrder="4" createDate="2015-09-19T16:54:05" updateDate="2015-09-19T16:55:05" nodeName="The third completed project" urlName="the-third-completed-project" path="-1,1065,1072,1083" isDoc="" nodeType="1062" creatorName="Valerio" writerName="Valerio" writerID="0" template="1061" nodeTypeAlias="ProjectItem">
        <projectTitle><![CDATA[The third completed project]]></projectTitle>
        <projectContents><![CDATA[<p>I'm completed! ;-)</p>]]></projectContents>
        <status><![CDATA[Completed]]></status>
      </ProjectItem>
    </ProjectsMain>
    <GridInfoPage id="1078" parentID="1065" level="2" creatorID="0" sortOrder="2" createDate="2015-09-13T14:25:14" updateDate="2015-10-06T10:45:17" nodeName="About Us" urlName="about-us" path="-1,1065,1078" isDoc="" nodeType="1077" creatorName="Valerio" writerName="Valerio" writerID="0" template="1076" nodeTypeAlias="GridInfoPage">
      <gridInfoPage><![CDATA[{
  "name": "Info page normal",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "columns layout",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "Aarhus web developer consortium",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1079,
                    "image": "/media/1001/design1.png"
                  },
                  "editor": {
                    "name": "Image",
                    "alias": "media",
                    "view": "media",
                    "render": null,
                    "icon": "icon-picture",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 12,
              "controls": []
            },
            {
              "grid": 12,
              "controls": [
                {
                  "value": "<h2 style=\"text-align: center;\">We are a corporation for all the web developers in Aarhus. We provide the best solutions based on the customers demand.</h2>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "controls": [
                {
                  "value": "<p><strong>Vision</strong></p>\n<p>Our vision is to make the web a better place. We want the best for our customers and we expect the best from our members.</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "controls": [
                {
                  "value": "<p><strong>People</strong></p>\n<p>We are constantly looking for the best developers, UX designers and multimedia designers.</p>\n<p>If you are interested in being part of company please contact us using the \"Contact Us\" page.</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "controls": [
                {
                  "value": "<p><strong>Skills</strong></p>\n<p><span>Our knowledge is very broad. We use the modern newest web technologies.</span></p>\n<p><span>The most common technologies we use are:</span></p>\n<p><span>.NET, Umbraco CMS, Javascript, Html5, CSS3, php.</span></p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "bb999fc5-b842-6450-2d11-1ee77da8f6b0"
        }
      ]
    }
  ]
}]]></gridInfoPage>
    </GridInfoPage>
    <ContactPage id="1086" parentID="1065" level="2" creatorID="0" sortOrder="3" createDate="2015-09-19T18:04:47" updateDate="2015-09-19T18:04:47" nodeName="Contact Us" urlName="contact-us" path="-1,1065,1086" isDoc="" nodeType="1085" creatorName="Valerio" writerName="Valerio" writerID="0" template="1084" nodeTypeAlias="ContactPage" />
    <TextPage id="1096" parentID="1065" level="2" creatorID="0" sortOrder="4" createDate="2015-09-22T12:37:10" updateDate="2015-09-22T12:41:31" nodeName="Login" urlName="login" path="-1,1065,1096" isDoc="" nodeType="1054" creatorName="Valerio" writerName="Valerio" writerID="0" template="1095" nodeTypeAlias="TextPage" />
    <TextPage id="1097" parentID="1065" level="2" creatorID="0" sortOrder="5" createDate="2015-09-22T12:44:18" updateDate="2015-09-22T12:49:21" nodeName="forbidden access page" urlName="forbidden-access-page" path="-1,1065,1097" isDoc="" nodeType="1054" creatorName="Valerio" writerName="Valerio" writerID="0" template="1053" nodeTypeAlias="TextPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyText><![CDATA[You don't have access to this page.]]></bodyText>
    </TextPage>
    <Members id="1100" parentID="1065" level="2" creatorID="0" sortOrder="6" createDate="2015-09-22T14:29:39" updateDate="2015-09-22T14:29:48" nodeName="Members" urlName="members" path="-1,1065,1100" isDoc="" nodeType="1099" creatorName="Valerio" writerName="Valerio" writerID="0" template="1098" nodeTypeAlias="Members" />
  </HomePage>
</root>